GOOGLE_API_KEY=""
ALLOW_DATA_UPLOAD="" # true or false
SANDBOX_BACKEND="" # local or e2b
APP_USERNAME=""
APP_PASSWORD=""
APP_NAME=""
APP_AUTH_COOKIE_NAME="pyvis_auth_cookie"
APP_AUTH_COOKIE_KEY="change_this_cookie_signature_key"
APP_AUTH_COOKIE_EXPIRY_DAYS="1"
